<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- main css file  -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!-- normallize css file  -->
    <link rel="stylesheet" href="../static/css/normelize.css" />
    <!-- font awesom -->
    <link rel="stylesheet" href="../static/static/css/all.min.css" />
    <!-- bootstrap file -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="fields">
        <div class="fields-box text-start">
          <button>
            <i class="fa-solid fa-truck"></i>
            <h3>Transportation</h3>
          </button>
          <button>
            <i class="fa-solid fa-pump-soap"></i>
            <h3>Raw Material</h3>
          </button>
          <button>
            <i class="fa-solid fa-bowl-food"></i>
            <h3>Catering</h3>
          </button>
        </div>
      </div>
      <div class="companies-area">
        <div class="companies">
          <div class="company" class="box">
            <img src="../static/images/unnamed-modified.png" alt="#" />
            <div class="text">
              <h3>Yalidine</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                nesciunt obcaecati quisquam quis laborum recusandae debitis vel
              </p>
            </div>
          </div>
          <div class="company" class="box">
            <img src="../static/images/download-modified.png" alt="#" />
            <div class="text">
              <h3>FedEx</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                nesciunt obcaecati quisquam quis laborum recusandae debitis vel
              </p>
            </div>
          </div>
          <div class="company" class="box">
            <img src="../static/images/unnamed-modified.png" alt="#" />
            <div class="text">
              <h3>FedEx</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                nesciunt obcaecati quisquam quis laborum recusandae debitis vel
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
