<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- main css file  -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!-- normallize css file  -->
    <link rel="stylesheet" href="../static/css/normelize.css" />
    <!-- font awesom -->
    <link rel="stylesheet" href="../static/static/css/all.min.css" />
    <!-- bootstrap file -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>B2B match up</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            style="width: 50px"
            class="mt_2"
            src="../static/images/b2b.png"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#main"
          aria-controls="main"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="main">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="#"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="#Contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="login.html" target="_blank">Log in </a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2 p-lg-3" href="signup.html" target="_blank">Sign up </a>
            </li>
          </ul>
          <div class="search ps-3 pe-3 d-none d-lg-block">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <a class="rounded-pill main-btn" href="fields.html">Search </a>
        </div>
      </div>
    </nav>
    <div class="landing">
      <div class="container">
        <div class="text">
          <h1>B2B <br />MatchUp</h1>
          <p>Where Partnerships Thrive, B2B MatchUp Unites</p>
          <a class="rounded-pill main-btn py-2 px-4 mt-5" href="fields.html">Search </a>
        </div>
        <div class="landing-image">
          <img src="../static/images/colla-removebg-preview.png" alt="sorry" />
        </div>
      </div>
    </div>
    <!-- End Landing  -->
    <!-- Start About Us   -->
    <div id="About" class="About">
      <div class="container">
        <div class="text">
          <h3>About Us</h3>
          <p>
            Welcome to B2B MatchUp, your premier destination for streamlined B2B
            collaborations. At B2B MatchUp, we understand the challenges
            businesses face when searching for reliable service providers across
            diverse categories. Our platform bridges the gap, offering a
            user-friendly experience that empowers companies to discover,
            connect, and engage seamlessly with service providers. Whether
            you're planning a significant event, launching a new product and
            need to integrate a supply chain or improve an existing one , or
            simply in need of essential services, our B2B Service Marketplace is
            your go-to solution. With a curated list of trusted service
            providers, intuitive collaboration tools, and transparent processes,
            B2B MatchUp is committed to transforming the way businesses connect
            and thrive. Join us on this journey towards efficient and effective
            B2B partnerships, where your success is our priority.
          </p>
        </div>
        <div class="image-box">
          <img
            src="../static/images/aboutus.jpg"
            class="d-none d-lg-block"
            alt="#"
          />
        </div>
      </div>
    </div>
    <!-- Start Footer-->
    <footer id="Contact">
      <div class="container">
        <div class="social-media">
          <img
            src="../static/images/Layer_32_copy-removebg-preview.png"
            alt="#"
          />
          </div>
          
        <div class="contact">
          <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <p>Algeria, sidi belabes, 2000</p>
          </div>
          <div class="location">
            <i class="fa-regular fa-clock"></i>
            <p>Business Hours: From 10:00 To 18:00</p>
          </div>
          <div class="location">
            <i class="fa-solid fa-phone"></i>
            <p>+213 123456798 <br />+213 123456798</p>
          </div>
        </div>
      </div>
      <ul style="transform: translateX(-15px);" class="meidia">
            <li><i class="fa-brands fa-facebook-f"></i> </li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
          </ul>
      <p class="final-footer">All Rights Are Reserved</p>
    </footer>
    <!-- End Footer-->
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
