<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <!-- main css file  -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <!-- normallize css file  -->
    <link rel="stylesheet" href="../static/css/normelize.css" />
    <!-- font awesom -->
    <link rel="stylesheet" href="../static/static/css/all.min.css" />
    <!-- bootstrap file -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Start discount-->
    <div class="discount">
      <div class="blue-box">
        <img
          style="margin-bottom: 50px"
          class="mb-5"
          src="../static/images/Color-white-modified.png"
          alt="#"
        />

        <input disabled type=" text" placeholder=" Company Name" />
        <input disabled type=" text" placeholder=" Description" />
      </div>
      <div class="form-box" id="Request">
        <h2>Service Information</h2>
        <form disabled action="">
          <input disabled type="text" placeholder=" Detailled description" />
          <input
            disabled
            type="text"
            placeholder=" companies collaborated with"
          />
          <h2>contact Information</h2>
          <input disabled type="number" placeholder=" phone number 1" />
          <input disabled type="number" placeholder=" phone number 2" />
          <input disabled type="email" placeholder=" Email" />
          <input disabled type="url" placeholder=" Url of Website" />

          <div class="twala">
            <input
              style="display: none"
              type="submit"
              value="submit "
              id="submit"
            />
          </div>
        </form>
      </div>
    </div>
    <!-- End discount-->
    <script src="/frontend/static/js/main.js"></script>
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
